# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.eggs/
venv/
.venv/

# IDE
.idea/
.vscode/
*.swp

# Build artifacts
build/
dist/
*.spec
Output/

# App artifacts
*.log
automate.log
config.json
presets.json
*.zip

# UPX binary
upx/
*.exe
*.zip
*.pkg
